# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# =========================
# Virtual Environments
# =========================
venv/
.env/
.venv/

# =========================
# pytest
# =========================
.pytest_cache/
.cache/

# =========================
# Allure
# =========================
allure-results/
allure-report/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDEs and Editors
# =========================
.idea/
